/* Universal Style */

html {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
}

header{
    position: block;
    display: grid;
    
}
/* Header */
header .content{
    /* display: flex;
    flex-wrap: wrap; */
    /* justify-content: space-between; */
    background-image: url(../img/matthew-hume-bPTLG88PrPg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 740px;
    width: 100%;
    align-items: flex-start;
    left: 0;
    /* position: absolute; */
}
.content .container{
    position: absolute;
    width: 100%;
}
header .content h1 {
    position: absolute;
    margin: 0px 60px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    padding: 20px;
    
}

/* Nav */
.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navbar-menu p{
    align-items: center;
    justify-items: center;
    margin-top: 30px;
    margin-right: 30px;
    
}
.navbar-menu a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Playfair Display', serif;
}


.sign-up-banner{
    position: relative;
    width: 450px;
    top: 95px;
    left: 100px;
    opacity: 0.9;
}

.sign-up-banner h2{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 3.5em;
}

.sign-up-banner p{
    font-size: 1.1em;
    font-weight: 500;
    color: #4a4a4a;
    width: 420px;
}

.button {
    border-radius: 5px;
    background-color: #4a4a4a;
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    margin: 0 auto;
    top: 20px;
  }

.button:hover{
    color: white;
    background-color: black;
}

/* PC */
@media only screen and (min-width: 1900px){
    .content .container{
        max-width: 1550px;
    }
}
/* Laptop 14 inch */
@media only screen and (min-width: 1366px) and (max-width: 1899px){
    .content .container{
        max-width: 1390px;
    }
}
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .body {
        max-width: 1025px;
    }
}

/* Main */
.runner .container{
    
}
.runner .content{
    width: 800px;
    text-align: center;
    justify-content: center;
    margin: 40px auto;
}
.runner h1{
    position: block;
    font-family: 'Fjalla One', sans-serif;
}

.runner p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25em;
}

.grid-runner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    width: 80%;
    
}
.item-runner{
    padding: 15px;
}

.item-runner img {
    width: 390px;
    height: 550px;
    object-fit: cover;
    
}

.col1 img , .col3 img {
    width: 390px;
    height: 385px;
}

.col2 img {
    width: 390px;
    height: 259px;
}

.slogan-runner {
    border: 1px solid #b97750;
    height: 250px;
    width: 390px;
    text-align: center;
    color: #b97750;
    margin-left: 15px;
    background-color: rgb(185, 119, 80, 0.2);
    justify-content: center;
}
.slogan-runner h3{
    margin: 20px auto;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
    font-size: 2em;
}
.item-runner .button {
    background-color: rgb(185, 119, 80, 0.5);
}
.item-runner .button:hover {
    background-color: rgb(185, 119, 80)
}

/* Fitness Banner */
.fitness {
    margin: 40px auto;
    
}
.grid-fitness{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 500px;
    gap: 20px;
}

.grid-fitness .col1{
    display: flex;
}

.grid-fitness .col1 .content{
    margin: 50px auto;
    padding: 50px;
}
.grid-fitness .col1 .content h3{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    font-weight: 600;
}
.grid-fitness .col1 .content p{
    font-size: 1.2em;
}
.fitness-img img{
    width: 285px;
    height: 407px;
    object-fit: cover;
}

.grid-fitness .col2 {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    width: 80%;
}

.grid-fitness .item-fitness{
    padding: 20px;
}
.grid-fitness .col2 .A{
    background-color: #f2f2f2;
}
.grid-fitness .col2 .C{
    background-color: #e5e5e5;
}

.view-more{
    color: black;
    text-decoration: none;
    line-height: 10px;
    border-bottom: 2px solid #000;
    padding-bottom: 3px;
}

.view-more:hover{
    border-bottom: 0;
    color: black;
}
/* Footer */

footer .content{
    margin: 20px auto;
    top: 180px;
    text-align: center;
}

footer .content h4{
    font-size: 1.2em;
    font-weight: lighter;
}